@import url("index.css");

:root {
	--bg:		#4D596088;
	--fg:		#D3C6AA;
	--title:	#D3C6AA;
	--black:	#293136;
	--red:		#E67E80;
	--orange:	#E69875;
	--green:	#A7C080;
	--yellow:	#DBBC7F;
	--blue:		#7FBBB3;
	--magenta:	#D699B6;
	--cyan:		#83C092;
}

body { background: #4D596022; }
