@font-face {
    font-family: "Iosevka Term Nerd Font";
    src: url("/usr/share/fonts/TTF/IosevkaNerdFont-Regular.ttf");
}

/*   Meta   */

#homepage .body {
	font-family: 'Iosevka Term Nerd Font';
	color: var(--fg);
	width: 100vw;
	height: 100vh;
	position: fixed;
}

#homepage .flexbox {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#homepage .mainbox {
	background-color: var(--bg);
	border-radius: 15px;
	padding: 12px;
}

#homepage .alpha {
	all:unset;
	color: rgba(0,0,0,0);
	background-color: rgba(0,0,0,0);
}



/*   Title   */

#homepage .title {
	text-align: center;
	padding-bottom: 3vh;
	color: var(--title);
}

#homepage .hl {
	color: var(--hl);
}



/*   Clock + Date   */

#homepage #clock {
	text-align: center;
}

#homepage #clock, #cal {
	color: var(--title);
	margin-left: 1rem;
}



/*   Quicklinks   */

#homepage b {
	color: var(--title);
}

#homepage li {
	list-style-type: none;
	margin-left: -1rem;
}

#homepage a {
	all: unset;
	color: var(--fg);
}

#homepage a:hover {
	color: var(--title);
	text-decoration: underline;
	cursor: pointer;
}



/*   Searchbar   */

#homepage .search {
	margin-top: 12px;
}

#homepage .search input {
	background-color: var(--fg);
	padding: 4px 0.5rem 4px 0.75rem;
	height: 1.5rem;
	width: 80%;
	border-radius: 2rem;
	margin-bottom: 16px;
	margin-left: 26px;
	border: 0px;
}

#homepage .search button {
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: #D9E0EE;
	font-size: 18px;
	cursor: pointer;
}



/*   Decoration   */

#homepage .cat {
	margin-left: 5rem;
	font-size: 24px;
	text-align: center;
}

#homepage .colcir {
	width: 32px;
	height: 32px;
	border-radius: 16px;
}
